<%- include("partials/header.ejs") %>

<h2>Members Of This Project</h2>
<div class="row">
    <!-- <div class="middle-container"> -->
        <div class="profile col-md-3">
          <img class="profile-photo" src="images/Prashant.jpg" height="100px" width="100px" alt="Profile photo">
          <h3>Prashant Kumar Jha</h3>
          <p><strong>Responsiblity</strong> : Frontend, Backend and Database</p>
          <p><strong>University Reg No</strong> : JUjan20BCA000567</p>
          <p><strong>Program</strong> : BCA</p>
          <p><strong>Subject</strong> : Major Project</p>
        
        </div>
        <div class="profile col-md-3">
            <img class="profile-photo" src="images/Vinisha.jpeg" height="100px" width="100px" alt="Profile photo">
            <h3>Vinisha jain</h3>
            <p><strong>Responsiblity</strong> : Database </p>
            <p><strong>University Reg No</strong> : JUjan20BCA000556</p>
            <p><strong>Program</strong>  : BCA</p>
            <p><strong>Subject</strong> : Major Project</p>
          
        </div>
        <div class="profile col-md-3">
        <img class="profile-photo" src="images/Uday.jpeg" height="100px" width="100px" alt="Profile photo">
        <h3>Uday S</h3>
        <p><strong>Responsiblity</strong> : FrontEnd </p>
        <p><strong>University Reg No</strong> : JUjan20BCA000559</p>
        <p><strong>Program</strong>  : BCA</p>
        <p><strong>Subject</strong> : Major Project</p>
        </div>
        <div class="profile col-md-3">
        <img class="profile-photo" src="images/Darby.jpeg" height="100px" width="100px" alt="Profile photo">
        <h3>Darby John Luke</h3>
        <p><strong>Responsiblity</strong> : Frontend </p>
        <p><strong>University Reg No</strong> : Jujan20BCA000547</p>
        <p><strong>Program</strong> : BCA</p>
        <p><strong>Subject</strong> : Major Project</p>
</div>
</div>




<%- include("partials/footer.ejs") %>