<%- include("partials/header.ejs") %>


<h1>Contact Us</h1>

<div class="container">
<div class="row">
 <div class="contact_us col-md-4">
    <div class=""> 
        <img src="images/headphones.png" alt="headphone" height="100px" width="100px">
        <h3>Talk to our team members</h3>
        <p>We'll help finding you the right website for your need</p>
        <button class="w-100 btn btn-lg btn-primary btn_submit contact_btn" id="contact" type="submit">Contact</button>
    </div>
  </div>
  
  <div class="contact_us col-md-4">
    <div class="">
        <img src="images/help-desk.png" alt="headphone" height="100px" width="100px">
        <h3>Website and Account support</h3>
        <p>If you can't find the answer you're lookin for, we're here to lend a hand</p>
        <button class="w-100 btn btn-lg btn-primary btn_submit contact_btn" id="help" type="submit">Help center</button>
    </div>
  </div>
  <div class="contact_us col-md-4">
    <div class="">
        <img src="images/box.png" alt="headphone" height="100px" width="100px">
        <h3>Donate to our hard work</h3>
        <p>Donte us for our hard work and dedication, we are always here for you</p>
        <button class="w-100 btn btn-lg btn-primary btn_submit contact_btn" id="email" type="submit">Email us</button>
    </div>
  </div>
</div>
</div>
<script>
    document.body.style.backgroundImage = "none";
    // document.body.style.backgroundImage = "url('../images/contact_us.jpg')";
</script>
<script src="js/index.js"></script>

<%- include("partials/footer.ejs") %>