<%- include("partials/header.ejs") %>

<div class="col-md-4">
    
</div>
    

<div class="btn-group-vertical">
    <button class="btn btn-dark" type="submit">Education</button>
    <button class="btn btn-dark" type="submit">Life style</button>
    <button class="btn btn-dark" type="submit">Gadgets</button>
    <button class="btn btn-dark" type="submit">Food</button>
    <button class="btn btn-dark" type="submit">Finance</button>
    <button class="btn btn-dark" type="submit">Medical</button>

</div>




<%- include("partials/footer.ejs") %>