body{
    background-image: url("../images/bg_w.jpg");
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    direction: rtl;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
.row{
    text-align: center;
}
p{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    opacity: 0.5;
}
.btn{
    margin-right: 2%;

}

.btn:hover {
    background-color: #1e1f1e;
    color: white;
}
.ffdb{
    margin-top: 2%;  

}
.contact_btn{
    bottom: 0%;
    box-shadow: 20px 20px 50px grey;
    transition: 0.3s;
    margin-top: 7%;
}
.home_btn{
    border-radius: 0;
}
.footer{
    position: relative;
    bottom: 0;
    margin-top: 6%;
    text-align: center;
}

.profile-photo{
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.cu_img{
    left: 0px;
    top: 0px;
    margin-right: 10%;
    text-align: right;
}

.contact_us{
    display: inline;
    margin-top: 2%;
    bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
    border: 2%;
}
.home{
    padding: 0;
}
.category{
    margin-top: 2%;
}
